// _footer.pug

// Mixin untuk footer
mixin footerSection(title, links)
  .footer-section
    h3= title
    ul
      each link in links
        li: a(href=link.href)= link.text

// Mixin untuk logo section
mixin logoSection(imageSrc, altText)
  .footer-section.logo-section
    img(src=imageSrc alt=altText)

// Mixin untuk registration section
mixin registrationSection(text, buttonText, link)
  .registration-section
    p= text
    a.register-button(href=link)= buttonText

// Mixin footer untuk memanggil semua bagian
mixin footer()
  .footer
    .footer-container
      +footerSection('Tautan', [
        { href: '#', text: 'Tentang Kami' },
        { href: '#', text: 'Hubungi Kami' },
        { href: '#', text: 'Mengenai Situs Ini' },
        { href: '#', text: 'Artikel Populer' }
      ])
      +footerSection('Lainnya', [
        { href: '#', text: 'Kebijakan Privasi' },
        { href: '#', text: 'Galeri Photo' },
        { href: '#', text: 'Pens DDK' }
      ])
      +logoSection('komponen/assets/img/Logo_PENS.png', 'PENS Logo')
    +registrationSection('Pendaftaran poliklinik dan vaksin', 'KLIK DISINI', 'register.html')
