mixin breadcrumb(path)
  .breadcrumb= path

mixin headerSection(imageSrc, altText, mainText, subText)
  .header
    img.header-image(src=imageSrc alt=altText)
    .header-text
      p= mainText
      p= subText

mixin descriptionSection(title, paragraphs)
  .description
    h2= title
    each paragraph in paragraphs
      p= paragraph

mixin additionalInfo(items)
  .info
    h2 Informasi Tambahan
    ul
      each item in items
        li= item

mixin gallerySection(title, images)
  .gallery
    h2= title
    each image in images
      img(src=image.src alt=image.alt width="300" height="200")