mixin breadcrumbLab(links)
  .lab-breadcrumb
    each link, index in links
      a(href=link.href)= link.text
      if index < links.length - 1
        |  /

mixin mainImageLab(src, altText, mainText, subText)
  .lab-image-wrapper
    img(src=src alt=altText width="800" height="400")
    .lab-image-overlay
      = mainText
      br
      = subText

mixin descriptionLab(title, subtitle, paragraphs, listItems)
  .lab-content
    h2= title
    h3= subtitle
    each paragraph in paragraphs
      p= paragraph
    ul
      each item in listItems
        li= item

mixin galleryLab(images)
  .lab-gallery
    h3 GALERI
    each image in images
      img(src=image.src alt=image.alt width="200" height="150")
