
//- Mixin untuk breadcrumb
mixin breadcrumbRadiology(links)
  .radiology-breadcrumb
    each link, index in links
      a(href=link.href)= link.text
      if index < links.length - 1
        |  /

//- Mixin untuk header gambar
mixin headerImageRadiology(imageSrc, mainText, subText)
  .radiology-header
    img(src=imageSrc alt="Radiology Header Image")
    .radiology-header-text
      | #{mainText}
      br
      | #{subText}

//- Mixin untuk deskripsi
mixin descriptionRadiology(title, text)
  .radiology-description
    h2= title
    p= text

//- Mixin untuk layanan radiologi
mixin serviceItemRadiology(title, description)
  .radiology-service-item
    = title
    if description
      .radiology-dropdown
        p= description

//- Mixin untuk galeri
mixin galleryRadiology(images)
  .radiology-gallery
    h2 GALERI
    each image in images
      img(src=image.src alt=image.alt)
